<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PaaS Calculator</title>

    <link
      rel="stylesheet"
      media="all"
      href="https://www.dewalt.com/sites/g/files/xnuzat961/files/css/css_q18vFNz3vVs9u-ltuWmTYJRXMPWg_xdBVF0VIqCopSU.css"
    />
    <link
      rel="stylesheet"
      media="all"
      href="https://www.dewalt.com/sites/g/files/xnuzat961/files/cohesion/styles/base/duplo-theme-site1-stylesheet.min.css?rc3591"
    />
    <!-- <link
      rel="stylesheet"
      media="all"
      href="https://www.dewalt.com/sites/g/files/xnuzat961/files/css/css_N9tDxK7Tssyt0yI2xfqI8zjcg_kBwg8Z8Fz7BZIaFn4.css"
    /> -->
    <link
      rel="stylesheet"
      media="all"
      href="https://www.dewalt.com/sites/g/files/xnuzat961/files/cohesion/styles/theme/duplo-theme-site1-stylesheet.min.css?r8fzq2"
    />
    <link
      rel="stylesheet"
      media="all"
      href="https://www.dewalt.com/sites/g/files/xnuzat961/files/css/css_sU47R7vUOCBbaoi27cH7PEBQhprSp1yMCyjoH8Jfx9A.css"
    />
    <link
      rel="stylesheet"
      media="all"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      media="all"
      href="https://www.dewalt.com/sites/g/files/xnuzat961/files/css/css_INqKuzJk40i4KgCwcAEyITx3UcFMBx5_eljuFk00x4s.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp"
      type="text/css"
    />
    <style>
      .ssa-instance-2709579232.coh-ce-cpt_columns-c79f689d {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
    </style>
  </head>
  <body class="path-taxonomy">
    <!----->
    <section
      class="coh-container ssa-component coh-component ssa-component-instance-ec0b351a-f5c6-4968-a101-aca7bbdc3b1c coh-component-instance-ec0b351a-f5c6-4968-a101-aca7bbdc3b1c split-background coh-style-feature-block coh-style-margin-bottom-none ssa-instance-1353986792 coh-ce-cpt_feature_block-6b6f1cf8"
      data-content-order="image-first"
      data-bg-align=""
    >
      <div
        class="coh-container ssa-component coh-component ssa-component-instance-ec0b351a-f5c6-4968-a101-aca7bbdc3b1c coh-component-instance-ec0b351a-f5c6-4968-a101-aca7bbdc3b1c"
      >
        <div
          class="coh-container section coh-style-section"
          data-gs-background-color="dark-grey"
          data-gs-spacing="none"
          data-gs-min-height=""
          data-gs-overlay=""
          data-gs-foreground-color="dark"
          data-gs-remove-spacing=""
        >
          <div class="coh-container section-inner">
            <div class="coh-container coh-container-boxed">
              <div
                class="coh-row coh-row-xl coh-row-visible-xl"
                data-coh-row-match-heights='{"xl":{"target":"none"}}'
              >
                <div class="coh-row-inner coh-ce-cpt_feature_block-528ef8c4">
                  <div
                    class="coh-column coh-visible-sm coh-col-sm-12 coh-visible-xl coh-col-xl-6"
                  >
                    <div class="coh-container media-main-container">
                      <div
                        class="coh-container ssa-component coh-component ssa-component-instance-ec0b351a-f5c6-4968-a101-aca7bbdc3b1c coh-component-instance-ec0b351a-f5c6-4968-a101-aca7bbdc3b1c media-container bynder-media-container"
                      >
                        <img
                          src="https://bynder.sbdinc.com/m/46bf7c51b9b30498/Drupal_Medium-DeWaltFULLRANGE_G1.jpg"
                          alt=""
                          class="coh-image coh-image-responsive-xl coh-lazy-loaded"
                          loading="lazy"
                        />
                      </div>
                    </div>
                  </div>
                  <div
                    class="coh-column coh-visible-ps coh-col-ps-12 coh-col-ps-push-0 coh-col-ps-pull-0 coh-col-ps-offset-0 coh-visible-sm coh-col-sm-10 coh-visible-xl coh-col-xl-6"
                  >
                    <div
                      class="coh-container text-main-container"
                      data-gs-background-color="dark-grey"
                      data-select-theme="dark-grey"
                      data-margin-padding="md"
                    >
                      <!------>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!----->
    <section
      class="coh-container ssa-component coh-component ssa-component-instance-5e176a0e-3369-4749-83bc-7c068fa6485f coh-component-instance-5e176a0e-3369-4749-83bc-7c068fa6485f split-background coh-style-feature-block coh-style-margin-bottom-none ssa-instance-3403736130 coh-ce-cpt_feature_block-6b6f1cf8"
      data-content-order="text-first"
      data-bg-align=""
    >
      <div
        class="coh-container ssa-component coh-component ssa-component-instance-5e176a0e-3369-4749-83bc-7c068fa6485f coh-component-instance-5e176a0e-3369-4749-83bc-7c068fa6485f"
      >
        <section
          class="coh-container section coh-style-section"
          data-gs-background-color="dark-grey"
          data-gs-spacing="none"
          data-gs-min-height=""
          data-gs-overlay=""
          data-gs-foreground-color="dark"
          data-gs-remove-spacing=""
        >
          <div class="coh-container section-inner">
            <div class="coh-container coh-container-boxed">
              <div
                class="coh-row coh-row-xl coh-row-visible-xl"
                data-coh-row-match-heights='{"xl":{"target":"none"}}'
              >
                <div class="coh-row-inner coh-ce-cpt_feature_block-528ef8c4">
                  <div
                    class="coh-column coh-visible-sm coh-col-sm-12 coh-visible-xl coh-col-xl-6"
                  >
                    <div class="coh-container media-main-container">
                      <div
                        class="coh-container ssa-component coh-component ssa-component-instance-5e176a0e-3369-4749-83bc-7c068fa6485f coh-component-instance-5e176a0e-3369-4749-83bc-7c068fa6485f media-container bynder-media-container"
                      >
                        <picture>
                          <img
                            src="https://bynder.sbdinc.com/m/7517e7244e3a4892/Drupal_Medium-DCD999B_A1.jpg"
                            alt=""
                            class="coh-image coh-image-responsive-xl coh-lazy-loaded"
                            loading="lazy"
                          />
                        </picture>
                      </div>
                    </div>
                  </div>
                  <div
                    class="coh-column coh-visible-ps coh-col-ps-12 coh-col-ps-push-0 coh-col-ps-pull-0 coh-col-ps-offset-0 coh-visible-sm coh-col-sm-10 coh-visible-xl coh-col-xl-6"
                  >
                    <div
                      class="coh-container text-main-container"
                      data-gs-background-color="dark-grey"
                      data-select-theme="dark-grey"
                      data-margin-padding="md"
                    >
                      <div class="coh-container">
                        <!---->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
    <!----->
    <section
      class="coh-container ssa-component coh-component ssa-component-instance-e9734fe1-13eb-4fec-9817-31e7178ef7c7 coh-component-instance-e9734fe1-13eb-4fec-9817-31e7178ef7c7 split-background coh-style-50-50-content coh-style-margin-bottom-none ssa-instance-1858092519 coh-ce-cpt_50_50_content-c2429d6f"
      data-content-order="image-first"
      data-bg-align="top-center"
      data-select-theme="split"
    >
      <div
        class="coh-container ssa-component coh-component ssa-component-instance-e9734fe1-13eb-4fec-9817-31e7178ef7c7 coh-component-instance-e9734fe1-13eb-4fec-9817-31e7178ef7c7"
      >
        <div
          class="coh-container section coh-style-section"
          data-gs-background-color="split"
          data-gs-spacing="none"
          data-gs-min-height=""
          data-gs-overlay=""
          data-gs-foreground-color="dark"
          data-gs-remove-spacing=""
        >
          <div class="coh-container section-inner">
            <div class="coh-container coh-container-boxed">
              <div
                class="coh-row coh-row-xl coh-row-visible-xl"
                data-coh-row-match-heights='{"xl":{"target":"none"}}'
              >
                <div class="coh-row-inner">
                  <div
                    class="coh-column image-column coh-visible-ps coh-col-ps-12 coh-visible-sm coh-col-sm-12 coh-visible-xl coh-col-xl-6"
                  >
                    <div class="coh-container text-main-container">
                      <!----->
                    </div>
                  </div>
                  <div
                    class="coh-column text-column coh-visible-ps coh-col-ps-12 coh-visible-sm coh-col-sm-12 coh-visible-xl coh-col-xl-6"
                  >
                    <div class="coh-container text-main-container">
                      <!----->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!----->
    <div
      class="coh-container ssa-component coh-component ssa-component-instance-8143833b-c590-4298-8df1-2dba9edf511d coh-component-instance-8143833b-c590-4298-8df1-2dba9edf511d bg-container coh-style-margin-bottom-none coh-style-page-header ssa-instance-714463170 coh-ce-cpt_page_header-1c6b715c"
      data-bg-align="center-left"
      data-select-theme="light"
      data-force-uppercase="1"
    >
      <div
        class="coh-container ssa-component coh-component ssa-component-instance-8143833b-c590-4298-8df1-2dba9edf511d coh-component-instance-8143833b-c590-4298-8df1-2dba9edf511d media-container bynder-media-container"
      >
        <img
          src="https://bynder.sbdinc.com/m/e097258370299ab7/Drupal_Large-DCS573B_A4.jpg"
          alt="Brushless cordless circular saw with FLEXVOLT Advantage being used by person to cut wooden plank."
          class="coh-image coh-image-responsive-xl coh-lazy-loaded"
          loading="lazy"
        />
      </div>
      <div
        class="coh-container ssa-component coh-component ssa-component-instance-8143833b-c590-4298-8df1-2dba9edf511d coh-component-instance-8143833b-c590-4298-8df1-2dba9edf511d"
      >
        <section
          class="coh-container section coh-style-section"
          data-gs-background-color="default"
          data-gs-spacing="none"
          data-gs-min-height=""
          data-gs-overlay=""
          data-gs-foreground-color="dark"
          data-gs-remove-spacing=""
        >
          <div class="coh-container section-inner">
            <div class="coh-container coh-container-boxed">
              <div
                class="coh-container ssa-component coh-component ssa-component-instance-8143833b-c590-4298-8df1-2dba9edf511d coh-component-instance-8143833b-c590-4298-8df1-2dba9edf511d coh-style-columns"
              >
                <div
                  class="coh-row coh-row-xl coh-row-visible-xl"
                  data-coh-row-match-heights='{"xl":{"target":"none"}}'
                >
                  <div
                    class="coh-row-inner ssa-instance-4063762316 coh-ce-cpt_columns-c79f689d"
                  >
                    <div
                      class="coh-column ssa-component coh-component ssa-component-instance-8143833b-c590-4298-8df1-2dba9edf511d coh-component-instance-8143833b-c590-4298-8df1-2dba9edf511d coh-visible-ps coh-col-ps-12 coh-visible-sm coh-col-sm-10 coh-visible-md coh-col-md-8 coh-visible-xl coh-col-xl-8"
                    >
                      <div
                        class="coh-container text-main-container"
                        data-text-align="center"
                      >
                        <!-- -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
