@import "./functions.scss";

.paas-calculator {
  position: relative;
  font-size: rem(12px);

  *:focus {
    outline: none;
  }

  .bg-yellow {
    background: #febd17;

    * {
      color: #000 !important;
    }
  }

  .bg-white {
    background: #fff;
  }

  .steps {
    padding: em(80) 0;

    label {
      font-size: rem(18);
      margin-bottom: em(20);
    }
  }

  .text-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    min-height: em(600);
    padding: em(40) em(80);
  }

  .circle {
    background: #c4c4c4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: em(30);
    height: em(30);
    border-radius: 100%;
    font-size: rem(16);
  }

  .go-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
  }

  .buttons {
    display: flex;
    align-items: center;
    margin-top: em(20);

    > * {
      flex-basis: 100%;
    }

    &.input-buttons {
      li {
        padding: em(10);
      }
    }
  }

  button {
    &.step-button {
      background: #c4c4c4;
    }

    &.left {
      margin-right: auto;
    }

    &.center {
      margin-left: auto;
      margin-right: auto;
    }

    &.right {
      margin-left: auto;
    }

    &.active {
      background: #febd17;
    }

    &.icon {
      padding: em(4);
      max-width: em(30);
      min-width: em(30);
      min-height: auto;
      height: em(30);
      margin-left: auto;

      svg {
        width: 100%;
        height: auto;
      }
    }
  }

  ul {
    flex-basis: 100%;
    list-style: none;
    position: relative;
    font-weight: 700;

    li {
      display: flex;

      //align-items: center;
      //padding: em(4px) em(8px);

      &.column {
        flex-direction: column;
        // align-items: center;
        padding: em(4px) em(8px);
      }

      &.align-self-center {
        align-self: center;
      }

      &.center {
        align-items: center;
      }

      &.left {
        align-items: flex-start;
      }

      &.output {
      }

      .input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
        padding: em(10) em(20);
        border-radius: em(3);
        border: em(1) solid transparent;

        label,
        .subtitle,
        .circle {
          color: #888;
        }
      }

      .input {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      input,
      select {
        min-width: em(700);
      }

      input[type="range"] {
        appearance: none;
        padding: 0;
        background: transparent;
        margin: em(20) 0;
        cursor: pointer;

        @mixin thumb {
          position: relative;
          z-index: 1;
          appearance: none;
          width: em(25px);
          height: em(25px);
          border-radius: 50%;
          background: #febd17;
          cursor: grab;
          transform: translateY(em(-8px));
        }

        @mixin track {
          z-index: 0;
          background: #ddd;
          border: none;
          border-radius: em(3px);
          height: em(10px);
          position: relative;
        }

        &::-webkit-slider-runnable-track,
        &:focus::-webkit-slider-runnable-track {
          @include track;
        }

        &::-moz-range-track {
          @include track;
        }

        &::-webkit-slider-thumb {
          @include thumb;
        }

        &::-moz-range-thumb {
          @include thumb;
        }

        &:focus {
          border: none;
          outline: none;
        }
      }

      datalist {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 em(2.8px);

        option {
          display: flex;
          justify-content: center;
          font-size: rem(11px);
          padding: em(4px);
          -webkit-user-select: none;
          -o-user-select: none;
          user-select: none;
          font-weight: 700;

          &.active {
            background: #333;
            color: #fff;
          }

          &:not(.active):hover {
            cursor: pointer;
            background: #febd17;
          }
        }
      }
    }
  }

  .loading {
    position: absolute;
    z-index: 10001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#febd17, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      max-width: em(240px);
    }

    &.overlay {
      position: fixed;
      z-index: 254;
      display: none;

      &.active {
        display: block;
      }
    }
  }

  .inputs-container {
    width: 100%;

    &.floating {
      position: sticky;
      top: 0;
      z-index: 1001;
      backdrop-filter: blur(em(2px));
      background: rgba(#232323, 1);

      .input-container {
        label {
          display: flex;
          align-items: center;
          color: #eeeeee;
          width: 100%;
          padding-bottom: em(10);
          margin-bottom: em(10);
          border-bottom: em(1) solid #eeeeee;
        }

        .subtitle {
          font-size: rem(42);
          line-height: 0.8;
          color: #febd17;
        }

        .slider-output {
          color: #000;
        }

        .input {
          position: absolute;
          top: 100%;
          left: 50%;
          z-index: 1001;
          transform: translateX(-50%);
          backdrop-filter: blur(em(2px));
          background: #c4c4c4;
          border-radius: em(3);
          padding: em(10) em(20);
          box-shadow: 0 0 em(10) rgba(#232323, 1);
          max-width: em(400);

          input,
          select,
          .buttons {
            width: 100%;
            min-width: em(260);
            //  max-width: 100%;
          }

          .buttons {
            flex-direction: column;
            margin-top: 0;
            width: 100%;
            align-items: stretch;

            li {
              padding: 0 0 em(4) 0;
            }

            button {
              min-width: auto;
              padding: 0;
              min-height: auto;
              width: 100%;
              background: #333;
              color: #fff;

              &.active {
                background: #febd17;
                color: #000;
              }
            }
          }

          input {
            margin: em(4) 0;

            &[type="range"] {
              &::-webkit-slider-runnable-track,
              &:focus::-webkit-slider-runnable-track {
                background: #fff;
              }

              &::-moz-range-track {
                background: #fff;
              }

              &::-webkit-slider-thumb {
                background: #232323;
              }

              &::-moz-range-thumb {
                background: #232323;
              }
            }
          }

          datalist option.active {
            background: #232323;
            color: #febd17;
          }
        }
      }
    }

    &.static {
      margin-top: em(20);
      padding-top: em(20);
      border-top: 1px solid #ddd;
    }

    ul.inputs {
      display: flex;

      li.column {
        flex-basis: 100%;

        &.active {
          .input-container {
            background: rgba(#fff, 0.5);
            border-color: #797979;

            .circle {
              background: #febd17;
              color: #000;
            }

            label,
            .subtitle {
              color: #000;
            }
          }
        }

        &:last-child {
          border-right: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1600px) {
}
