@import "./functions.scss";

.paas-calculator {
  position: relative;
  //font-size: rem(12px);
  //overflow: hidden;

  input[type="password"] {
    background: #fff;
    color: #000 !important;
    padding: em(20);
    font-size: rem(20);
  }

  *:focus {
    outline: none;
  }

  .bg-yellow {
    background: #febd17;

    * {
      color: #000 !important;
    }
  }

  .bg-white {
    background: #fff;
  }

  .font-white {
  }

  .font-yellow,
  [data-gs-background-color][data-gs-background-color="dark-grey"]
    .font-yellow {
    color: #febd17;
  }

  [data-gs-background-color][data-gs-background-color="dark-grey"] {
    color: #fff;

    * {
      color: #fff;
    }
  }

  .img-container {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .coh-container {
    width: 100%;
  }

  .input-button-container {
    padding-bottom: em(40);
  }

  .grid {
    display: grid;
    //grid-template-rows: repeat(3, 1fr);
    // grid-gap: em(20);
    width: 100%;

    &.three {
      grid-template-columns: repeat(3, 1fr);
    }

    &.two {
      grid-template-columns: repeat(2, 1fr);
    }

    .title-span {
      grid-column: 1 / span 2;
    }

    .right {
      align-items: flex-end;
    }
  }

  .steps {
    padding: em(10) 0;

    .step {
      margin-top: em(6);
      background: #fff;
      border-radius: em(3);
    }

    h2 {
      font-size: rem(36);
      line-height: 1.3;
      margin-bottom: em(20);
      text-align: center;
    }

    label {
      font-size: rem(18);
      margin-bottom: em(20);
    }
  }

  .text-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //background: #fff;
    min-height: em(600);
    padding: em(10) em(80);
  }

  .circle {
    background: #c4c4c4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: em(30);
    height: em(30);
    border-radius: 100%;
    font-size: rem(16);
  }

  .go-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
  }

  .buttons {
    display: flex;
    align-items: center;
    margin-top: em(20);

    > * {
      flex-basis: 100%;
    }

    &.input-buttons {
      li {
        padding: em(10);
      }
    }
  }

  button {
    &.step-button {
      background: #c4c4c4;
    }

    &.left {
      margin-right: auto;
    }

    &.center {
      margin-left: auto;
      margin-right: auto;
    }

    &.right {
      margin-left: auto;
    }

    &.active {
      background: #febd17;
    }

    &.icon {
      padding: em(4);
      max-width: em(30);
      min-width: em(30);
      min-height: auto;
      height: em(30);
      margin-left: auto;

      svg {
        width: 100%;
        height: auto;
      }

      span {
        display: none;
      }
    }
  }

  ul {
    flex-basis: 100%;
    list-style: none;
    position: relative;
    font-weight: 700;

    li {
      display: flex;
      flex-direction: column;

      //align-items: center;
      //padding: em(4px) em(8px);

      &.column {
        flex-direction: column;
        // align-items: center;
        padding: em(4px) em(8px);
      }

      &.align-self-center {
        align-self: center;
      }

      &.center {
        align-items: center;
      }

      &.left {
        align-items: flex-start;
      }

      &.output {
      }

      .input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
        padding: em(10) em(20);
        border-radius: em(3);
        border: em(1) solid transparent;

        label,
        .subtitle,
        .circle {
          color: #888;
          text-align: center;
        }
      }

      .input {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      input,
      select {
        min-width: em(700);
      }

      input[type="range"] {
        appearance: none;
        padding: 0;
        background: transparent;
        margin: em(20) 0;
        cursor: pointer;

        @mixin thumb {
          position: relative;
          z-index: 1;
          appearance: none;
          width: em(25px);
          height: em(25px);
          border-radius: 50%;
          background: #febd17;
          cursor: grab;
          transform: translateY(em(-8px));
        }

        @mixin track {
          z-index: 0;
          background: #ddd;
          border: none;
          border-radius: em(3px);
          height: em(10px);
          position: relative;
        }

        &::-webkit-slider-runnable-track,
        &:focus::-webkit-slider-runnable-track {
          @include track;
        }

        &::-moz-range-track {
          @include track;
        }

        &::-webkit-slider-thumb {
          @include thumb;
        }

        &::-moz-range-thumb {
          @include thumb;
        }

        &:focus {
          border: none;
          outline: none;
        }
      }

      datalist {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 em(2.8px);

        option {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: rem(11);
          padding: em(4);
          width: em(50);
          height: em(50);
          -webkit-user-select: none;
          -o-user-select: none;
          user-select: none;
          font-weight: 700;
          border-radius: 100%;
          background: #ddd;

          &.no-circle {
            border-radius: 0;
            width: auto;
          }

          &.active {
            background: #333;
            color: #fff;
          }

          &:not(.active):hover {
            cursor: pointer;
            background: #febd17;
          }
        }
      }
    }
  }

  .loading {
    position: absolute;
    z-index: 10001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#febd17, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      max-width: em(240px);
    }

    &.overlay {
      position: fixed;
      z-index: 254;
      display: none;

      &.active {
        display: block;
      }
    }
  }

  .state-refine-container {
    margin-top: em(30);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;

    &.active {
      max-height: em(500);
    }

    .state-refine {
      display: flex;
      flex-direction: column;
      background: #fff;
      padding: em(20);
      border-radius: em(3);
    }

    label {
      margin-bottom: em(4);

      &:nth-child(2) {
        margin-top: em(10);
      }
    }
  }

  .inputs-container {
    width: 100%;

    &.floating {
      position: sticky;
      top: -1px;
      z-index: 1001;
      // backdrop-filter: blur(em(2px));
      background-color: #232323;
      //transition: background-color 0.3s ease-in-out;

      &.pinned {
        box-shadow: 0 0 em(8) rgba(0, 0, 0, 0.9);
        background-color: #000;

        .subtitle {
          // font-size: rem(26);
        }
      }

      .input-container {
        label {
          display: flex;
          align-items: center;
          color: #eeeeee;
          width: 100%;
          padding-bottom: em(10);
          margin-bottom: em(10);
          border-bottom: em(1) solid #eeeeee;
        }

        .subtitle {
          font-size: rem(26);
          line-height: 0.8;
          color: #febd17;
        }

        .slider-output {
          color: #000;
          border-top: em(1) solid #eeeeee;
          width: 100%;
          padding-top: em(6);
          margin-top: em(4);
          text-align: center;
        }

        .input {
          position: absolute;
          top: 100%;
          left: 50%;
          z-index: 1001;
          transform: translateX(-50%);
          backdrop-filter: blur(em(2px));
          background: #c4c4c4;
          border-radius: em(3);
          padding: em(10) em(20);
          box-shadow: 0 0 em(10) #232323;
          max-width: em(400);

          input,
          select,
          .buttons {
            width: 100%;
            min-width: em(260);
            //  max-width: 100%;
          }

          .buttons {
            flex-direction: column;
            margin-top: 0;
            width: 100%;
            align-items: stretch;

            li {
              padding: 0 0 em(4) 0;
            }

            button {
              min-width: auto;
              padding: 0;
              min-height: auto;
              width: 100%;
              background: #333;
              color: #fff;

              &.active {
                background: #febd17;
                color: #000;
              }
            }
          }

          input {
            margin: em(4) 0;

            &[type="range"] {
              &::-webkit-slider-runnable-track,
              &:focus::-webkit-slider-runnable-track {
                background: #fff;
              }

              &::-moz-range-track {
                background: #fff;
              }

              &::-webkit-slider-thumb {
                background: #232323;
              }

              &::-moz-range-thumb {
                background: #232323;
              }
            }
          }

          datalist option {
            background: transparent;
            width: em(30);
            height: em(30);
            border-radius: 0;
            color: #848484;

            &.active {
              background: transparent;
              color: #000;
            }
          }
        }

        .state-refine-container {
          margin-top: em(10);

          label,
          .state-refine {
            color: #000;
          }

          .state-refine {
            border: em(1) solid #7f7e7e;
            max-width: em(280);
            background: transparent;
            padding: em(10);
            margin-bottom: em(10);
            text-align: center;
            font-size: rem(14);
          }
        }
      }
    }

    &.static {
      margin-top: em(20);
      padding-top: em(20);
      border-top: 1px solid #ddd;
    }

    ul.inputs {
      display: flex;

      li.column {
        flex-basis: 100%;

        &.active {
          .input-container {
            background: rgba(#fff, 0.5);
            border-color: #797979;

            .circle {
              background: #febd17;
              color: #000;
            }

            label,
            .subtitle {
              color: #000;
            }
          }
        }

        &:last-child {
          border-right: 0;
        }
      }
    }

    output {
      display: block;
      margin-top: em(3);
    }
  }

  .output-pricing {
    &.coh-style-feature-block
      .coh-row
      .coh-row-inner
      .media-main-container
      .media-container {
      width: 45vw;
    }

    .text-main-container {
      padding: 0;
      margin-top: 0;
      background: transparent;
    }

    .output-pricing-inner {
      padding: em(30);

      ul {
        text-align: center;

        li {
          padding: em(12) 0;
          border-bottom: 1px solid #434343;

          &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
          }
        }
      }

      .output-pricing-heading {
        font-size: rem(28);
        display: block;
      }

      .coh-wysiwyg {
        padding-bottom: em(22);
      }
    }
  }

  .output-versus {
    &.coh-style-feature-block .text-main-container {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
    }

    &.coh-style-feature-block[data-content-order][data-content-order="text-first"]
      .coh-row
      .coh-row-inner
      .media-main-container
      .media-container {
      width: 50.65vw;
    }

    .output-versus-inner {
      // z-index: 1;
      // width: 100%;
      background: #fff;
      //padding: em(40);

      .r1,
      .r2,
      .r3 {
        text-align: right;
        padding: em(20) em(30);
        border-bottom: em(1) solid #a5a5a5;

        &.first {
          display: flex;
          justify-content: center;
          font-size: rem(24);
          line-height: 1;
          text-transform: uppercase;
          font-weight: 700;
          text-align: center;
        }

        &.last {
          border-bottom: 0;
        }
      }

      .r1 {
        &.first {
          font-size: rem(14);
          color: #757575;
          font-family: Oswald, Impact, sans-serif;
        }
      }

      .r2 {
        background: #eeeeee;

        &.first {
          color: #1a1a1a;
        }
      }

      .r3 {
        background: #232323;
        color: #fff;

        &.first {
          position: relative;
          color: #febd17;
          font-family: Oswald, Impact, sans-serif;

          .vs {
            position: absolute;
            //top: 50%;
            top: 0;
            right: 100%;
            //transform: translate(-50%, -50%);
            transform: translateX(50%);
            width: 100%;
            max-width: 52px;
            height: calc(100% + 1px);
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fdbd16;
            color: #232323;
          }
        }
      }
    }
  }

  .output-cta {
    background: #eeeeee;
    padding: em(60) em(20);
    text-align: center;

    button {
      background: #febd17;
    }
  }

  .output-enviromental {
    .media-container {
      height: em(200);
    }
  }

  .output-maintenance {
    &.coh-style-feature-block
      .coh-row
      .coh-row-inner
      .media-main-container
      .media-container {
      width: 70vw;
    }

    .output-maintenance-inner {
      background: #fff;
      grid-template-columns: 1fr em(160);
      // padding: 0 em(20);

      li {
        display: flex;
        justify-content: center;
        padding: em(40) em(20);

        &.r1,
        &.r2 {
          border-bottom: em(1) solid #585858;

          &.last {
            border-bottom: 0;
          }
        }

        &.r1 {
          background: #fff;
          align-items: flex-end;
        }

        &.r2 {
          background: #febd17;
          align-items: center;
        }
      }
    }
  }

  .output-tco {
    &.coh-style-feature-block
      .coh-row
      .coh-row-inner
      .media-main-container
      .media-container {
      width: 100vw;
      margin-left: -50vw;

      img {
        width: 100%;
      }
    }

    .output-tco-text {
      position: relative;
      z-index: 1;
      background: #1a1a1a;
    }

    .output-tco-inner {
      * {
        color: #000;
        background: #fff;
      }

      ul {
        margin-bottom: em(20);
        grid-template-columns: 1fr em(140);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

        &:last-of-type {
          margin-bottom: 0;
        }

        li {
          padding: em(20);
          border-bottom: 1px solid #434343;

          &.last {
            border-bottom: 0;
          }

          &.title-span {
            font-size: rem(32);
            padding: em(4) 0;
            background: #fdbd16;
            text-align: center;
            margin-bottom: 0;
          }

          &.r1 {
            text-align: right;
          }

          &.r2 {
            background: #ffe455;
            text-align: right;
          }
        }
      }
    }

    .text-main-container {
      padding: em(20);
    }
  }

  .output-breakeven {
    .output-breakeven-text {
      position: relative;
      z-index: 1;
      background: #1a1a1a;
    }

    .output-breakeven-inner {
      * {
        color: #000;
        background: #fff;
      }

      ul {
        margin-bottom: em(20);
        grid-template-columns: 1fr em(140);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

        &:last-of-type {
          margin-bottom: 0;
        }

        li {
          padding: em(20);
          border-bottom: 1px solid #434343;

          &.last {
            border-bottom: 0;
          }

          &.r1,
          &.r2 {
            display: flex;
            justify-content: center;
          }

          &.r1 {
            align-items: flex-end;
          }

          &.r2 {
            background: #febd17;
            text-align: center;
            font-family: Oswald, Impact, sans-serif;
            font-size: rem(24);
            align-items: center;
          }
        }
      }
    }

    .text-main-container {
      padding: em(20);
    }
  }

  .output-enviromental {
    .text-main-container {
      min-height: auto;
      justify-content: flex-start;
    }

    .output-enviromental-grid {
      width: 100%;
      gap: em(30);

      li {
        display: flex;
        flex-direction: column;

        .output-enviromental-icon {
          position: relative;
          min-height: em(200);

          svg {
            width: 100%;
          }
        }

        .output-enviromental-output {
          margin-top: auto;
          padding-top: em(40);
        }
      }
    }
  }

  .hide-desktop {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 1200px) {
  .paas-calculator {
    position: relative;

    ul li {
      &.center {
        .input {
          select {
            min-width: initial;
            max-width: 100%;
          }
        }
      }

      &.column {
        padding: em(4);
      }

      .input-container {
        padding: em(4);

        .subtitle {
          font-size: rem(38);
        }

        label {
          font-size: rem(14);
        }
      }

      input[type="range"] {
        @mixin thumb {
          width: em(44);
          height: em(44);
          border-radius: em(3);
          transform: translateY(em(-18));
        }

        @mixin track {
          border-radius: em(3px);
          height: em(10px);
        }

        &::-webkit-slider-runnable-track,
        &:focus::-webkit-slider-runnable-track {
          @include track;
        }

        &::-moz-range-track {
          @include track;
        }

        &::-webkit-slider-thumb {
          @include thumb;
        }

        &::-moz-range-thumb {
          @include thumb;
        }
      }
    }

    .steps {
      h2 {
        font-size: rem(42);
        margin-bottom: em(4);
      }
    }

    .coh-container-boxed {
      max-width: initial;
    }

    .input-button-container {
      padding: em(10);
    }

    .buttons,
    .coh-style-section > .section-inner {
      > .coh-container-boxed > *.buttons {
        margin-top: 0;
        margin-bottom: em(10);
      }
    }

    .coh-row-xl > .coh-row-inner,
    .coh-row-inner {
      margin-right: 0;
      margin-left: 0;
      align-items: center;

      > .coh-column {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
    }

    .coh-style-feature-block
      .text-main-container[data-margin-padding][data-margin-padding="md"] {
      margin-top: 0;
      margin-bottom: 0;
    }

    .coh-style-feature-block[data-content-order][data-content-order="text-first"]
      .coh-row
      .coh-row-inner
      .text-main-container {
      padding: em(20) 0;
    }

    .coh-style-feature-block[data-content-order][data-content-order="text-first"]
      .coh-row
      .coh-row-inner
      .text-main-container.output-breakeven-text,
    .output-enviromental .text-main-container {
      padding: 0 em(20);
    }

    .output-pricing .output-pricing-inner {
      padding: em(10);
      flex: 0 0 50%;
      max-width: 50%;
    }

    .text-main-container {
      min-height: auto;
    }

    .inputs-container.floating {
      position: fixed;
      top: 0;
      right: 0;
      width: 50%;
      max-width: em(300);
      height: 100vh;
      background-color: transparent;
      display: flex;
      transform: translateX(100%);

      &.active {
        transform: translateX(0);
      }

      .menu-button {
        position: absolute;
        top: em(10);
        right: 100%;
        background: #febd17;
        padding: em(2);
        user-select: none;
        box-shadow: 0 0 em(10) rgba(0, 0, 0, 0.8);
      }

      .inputs {
        width: 50%;
        max-width: em(400);
        flex-direction: column;
        padding: em(20);
        background-color: #232323;
        margin: 0;
      }

      .input-container .input {
        padding-top: em(20);
        background: #eaeaea;
        border-radius: 0;
        position: relative;
        top: 0;
        left: 0;
        transform: initial;
      }
    }

    .hide-mobile {
      display: none;
    }
  }
}

@media only screen and (min-width: 1600px) {
}

@media only screen and (max-width: 1023px) {
}
